.cookie {
    width: 33.33%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

}

.cookieDiv img {
    max-width: 90%;
    height: auto;
    user-select: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
}

.imgbutton{
    background: url("http://svgshare.com/i/4HX.svg");
    width: 400px;
    height: 400px;
    
}

.cookieDiv {
    max-width: 100%;
    position: relative;
    width: 100%;
    height: auto;   
    display: block;

    margin:auto;
    
}

.cookieInfo {
    display: block;
    margin:auto;
    font-size: 5vh;
    padding-top: 10px;
}

.cookieText {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
area {
    display:block;
    outline:none;
}
