.info {
    width: 33.33%;
    margin-top: auto;
    margin-bottom: auto;
}

.infoContainer {
    margin: auto;

}

.producerInfo {
    margin-top: auto;
    margin-bottom: auto;
}

p {
    margin: auto;
    font-size: 4.5vh;
}