


@media only screen and (max-width: 300px){
    td {
        font-size: 3vmin;
    }
}
@media only screen and (min-width: 301px) and (max-width:750px){
    td {
        font-size: 3vmin;
    }
    table {
        height: 13vh;
    }
}
@media only screen and (min-width: 751px) {
    td {
        font-size: 4vmin;
    }
    table {
        height: 11.5vh;
    }
}

.info {
    width: 40%;
    margin: auto;
}

td {
    width: 50%;
    padding-left: 10px;
}

table {

    border-style: solid;
    margin: 5px;
    border-color: $color;
    width: 100%;
}

.name {
    font-weight: 900;
}
